.chest-1 {
  grid-area: a;
}

.chest-2 {
  grid-area: b;
}

.chest-3 {
  grid-area: c;
}

.chest-4 {
  grid-area: d;
}

.chest-5 {
  grid-area: e;
}

.chest-6 {
  grid-area: f;
}

.chest-7 {
  grid-area: g;
}

.chest-8 {
  grid-area: h;
}

.chest-9 {
  grid-area: i;
}
